.black-border {
  border: 1px solid black;
  box-sizing: border-box;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.bbox {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#container {
  width: 90%;
  max-width: 550px;
  margin: 40px auto;
  padding: 115px 52px;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}

#btn {
  height: 42px;
  width: 191px;
  border-radius: 6px;
  border: none;
}

hr {
  width: 100%;
  margin: 0;
  border: 1px solid rgba(0, 255, 0, 0.7);
}

#password-fields {
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: repeat(2, minmax(auto, 211px));
}

.password-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  padding: 0 15px;
}

.password {
  width: 85%;
  line-height: 1;
  position: relative;
  bottom: -2px;
}

.fa-copy {
  cursor: pointer;
}