.black-border {
  border: 1px solid black;
  box-sizing: border-box;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.bbox {
  box-sizing: border-box;
}

:root {
  --solid-blue: #07B3FF;
  --faded-blue: #6DB6B1;
  --off-white: #F5F5F5;
  --pink: #E1596D;
}

body {
  margin: 0;
  background-color: #F5F5F5;
}

.sans-serif-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.serif-text {
  /* font-family: 'Noto Serif JP', serif; */
  font-family: 'Cardo', serif;
}

/* HEADER */
#main-header {
  background-image: url("https://images.unsplash.com/photo-1577185816322-21f2a92b1342?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format");
  background-size: cover;
  background-position: center center;
  height: 346px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  padding: 0 32px;
  text-align: center;
}

#title {
  color: white;
  font-size: 9vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, .85);
}

#subtitle {
  background-color: white;
  color: black;
  font-weight: lighter;
  font-size: 14px;
  border-radius: 5px;
  padding: 8px 0;
  width: 85vw;
}

section {
  padding: 0 calc((100vw - 85vw) / 2);
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.section-title {
  text-transform: capitalize;
  background-color: var(--pink);
  color: white;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

/* CARDS */
#cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 50px 4vw;
}

.card {
  border-radius: 10px;
  display: flex;

  background-color: white;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);

  margin: 0 0 0 10px;
}

.card-img {
  height: 130px;
  width: 105px;
  object-fit: cover;
  border-radius: 15px;

  position: relative;
  top: -10px;
  left: -10px;
}

.card-caption {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 25px 50px 10px;
  position: relative;
}

.card-category {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 24px;
  border-radius: 20px;
  text-transform: capitalize;
  position: absolute;
  bottom: -15px;

  background-color: var(--solid-blue);
  color: white;

  font-size: 14px;
}

/* ECB INFO */
#ecb-info {
  background-color: #07B3FF11;
  border-radius: 10px;
}

#ecb-img {
  width: 100%;
  display: block;
  max-height: 400px;
  object-fit: cover;
  object-position: center center;
}

#ecb-caption {}

@media (min-width: 576px) {
  #title {
    font-size: 48px;
  }

  #subtitle {
    width: 450px;
  }

  .section-title {
    max-width: 220px;
  }
}